html, body {
  height: 100%;
  width: 100%;
  font-size: 28px;
  margin:0;
  background-color: #00313D;
  font-family: 'Muli', sans-serif;
}

body {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #C0C4C7;
}

#game {
  text-align: center;
}

.first-row, .second-row, .third-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.cell {
  border: 2px solid #C0C4C7;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 40px;
}

#cell-2:hover, #cell-5:hover, #cell-8:hover {
  border-right: 0;
}
.first-row .cell, .first-row .cell.empty:hover {
  border-top: 0;
}

.third-row .cell, .third-row .cell.empty:hover {
  border-bottom: 0;
}

#cell-0, #cell-3, #cell-6, #cell-0:hover, #cell-3:hover, #cell-6:hover {
  border-left: 0;
}

#cell-2, #cell-5, #cell-8, #cell-2:hover, #cell-5:hover, #cell-8:hover  {
  border-right: 0;
}

a {
  text-decoration: none;
  color: #0078D1;
}

a:active {
  color: #0BDEC7;
}

.status {
  color: #0078D1;
}

#reset {
  background-color: #00313D;
  color: #0078D1;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

#reset:focus {
  outline: none;
}

#reset:active {
  color: #0BDEC7;
  font-size: 20px;
}

.cell.empty {
  cursor: pointer;
}

.cell.empty:hover {
  border: 2px solid #0078D1;
  background-color: #003B4A; 
}